<script src="/assets/js/footer.js"></script>
<div id="footer">
  <div class="setting">
    <button id="change-mode"></button>
  </div>
  <a class="logo" href="{{site.baseurl}}">{{site.title}}</a><br>
  {{site.description}}
  <div class="icon-wrap">
    <a href="https://github.com/BrandnewKorean" target="_blank">
      <img class="icons" src="/assets/images/icons/github.png">
    </a>
    <a href="https://www.instagram.com/brandnewkorean/" target="_blank">
      <img class="icons" src="/assets/images/icons/instar.png">
    </a>
  </div>
</div>
