<!DOCTYPE html>
<html lang="{{ site.lang | default: "ko-KR" }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/assets/js/page.js"></script>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body class="dark">
    {% include header.html %}
    <div id="posts">
      <div class="main-image" style="background-image: url('{{ page.image }}');">
        <div class="modal">
          <div class="contents">
            <div class="inner">
              <div id="page-title">
                {{ page.title }}
              </div>
              <div id="page-description">
                {{ page.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="posts-wrap">
        <div class="contents">
          <div class="container">
            <div class="posts-inner title">
              <div class="category-wrap"></div>
              <div class="category-list title">
                <strong>Direct link to categorys ></strong><br>
                {% for eachCategory in site.categories %}
                  <a class="link" href="/posts/{{ eachCategory[0] }}">{{ eachCategory[0] }}</a>
                {% endfor %}
              </div>
            </div>
            {% for eachCategory in site.categories %}
              <div class="posts-inner">
              {% for categoryName in eachCategory[0] %}
                <div class="category-wrap">
                  <a class="link category-link" href="/posts/{{ categoryName }}">{{ categoryName }}</a>
                </div>
                <ul class="category-list">
                  {% for posts in site.categories[categoryName] limit: 4 %}
                  <li>
                    <div class="thumbnail-box">
                      {% if posts.thumbnail != null %}
                        <a class="posts-title link" href="{{ posts.url | relative_url }}"><img src="{{ posts.thumbnail }}" width="100%" height="100%"></a>
                      {% endif %}
                      {% if posts.thumbnail == null %}
                        <a class="posts-title link" href="{{ posts.url | relative_url }}"><img src="/assets/images/thumbnail/noImage.jpg" width="100%" height="100%"></a>
                      {% endif %}
                    </div>
                    <div class="text-box">
                      <a class="posts-title link" href="{{ posts.url | relative_url }}">{{ posts.title }}</a>
                      <a class="posts-date">{{ posts.date | date: "%Y-%m-%d" }}</a>
                    </div>
                  </li>
                  {% endfor %}
                <ul>
              {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include Footer.html %}
</body>
</html>
